.register-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: #000000;
}

.register-tab-container {
  margin-top: 15px;
}

.register-tab {
  color: #000000;
  padding: 6px 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.register-active-tab {
  background: linear-gradient(
    96.78deg,
    rgba(246, 77, 77, 0.2) -57.09%,
    rgba(77, 94, 246, 0.2) 101.17%
  );
}

.email-tab-radii {
  border-radius: 4px 0 0 4px;
}

.phone-tab-radii {
  border-radius: 0 4px 4px 0;
}
