<h1 *ngIf="!todos.length">No todos yet...</h1>
<div
  *ngIf="todos.length"
  style="
    padding: 16px;
    border: 1px solid teal;
    background-color: bisque;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 16px;
  "
>
  <div
    *ngFor="let todo of todos; let i = index"
    style="
      border: 1px solid thistle;
      border-radius: 16px;
      padding: 16px;
      justify-content: space-around;
    "
  >
    <p>{{ todo.name }}</p>
    <p>{{ i + 1 }}</p>
  </div>
</div>
